@CHARSET "UTF-8";

.app-top-div {
	height: 50px;
	font-size: 20px;
}

.app-top-div-left>a {
	text-decoration: none;
	font-weight: 1000;
	color: #ffffff;
	font-size: 25px;
	line-height: 50px;
	margin-left: 10px;
}

.app-top-div-left {
	position: relative;
	float: left;
}

.app-top-div-right {
	position: relative;
	float: right;
}

.app-top-div-right a {
	text-decoration: none;
	font-weight: 1000;
	color: #ffffff;
	font-size: 25px;
	line-height: 50px;
	margin-left: 10px;
}

.top-app-icon {
	color: black;
	/* color: #d14836;
	background-color: #ffffff;
	text-align: center;
	padding-left: 5px;
	margin-right: 10px; */
	
}

.app-top-month {
	text-decoration: none;
	font-weight: 1000;
	color: #ffffff;
	font-size: 25px;
	line-height: 50px;
	margin-left: 10px;
}

.top-app-sigla {
	color: #ffffff;
	font-weight: bold;
}

.top-app-name {
	display: none;
}

@media ( min-width : 960px) {
	.top-app-name {
		display: inline;
	}
}

#container {
	width: 100%;
	border-color: blue;
	text-align: center;
	border: 2px;
}

.box {
	display: inline-block;
	width: 29%;
	height: 50px;
	margin: 10px 20px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
	color: white;
	font-size: 14px;
	text-align: left;
	padding-left: 10px;
}

#box-1 {
	background-color: #e34d4e;
}

#box-2 {
	background-color: #4e9a06;
}

#box-3 {
	background-color: #24a2d5;
}