@CHARSET "UTF-8";

.app-top-div{
	height: 50px;
	font-size: 20px;
}

.app-top-div-left>a{
	text-decoration: none;
	font-weight: 1000;
	color: #ffffff;
	font-size: 25px;
	line-height: 50px;
	margin-left: 10px;
	
}

.app-top-div-left{
	position: relative;
	float: left;
}


.app-top-div-right{
	position: relative;
	float: right;
}

.top-app-icon {
	color: black;
	/* color: #d14836;
	background-color: #ffffff;
	text-align: center;
	padding-left: 5px;
	margin-right: 10px; */
}

.top-app-sigla {
	color: #ffffff;
	font-weight: bold;
}

.top-app-name {
	display: none;
}

@media ( min-width : 960px) {
	.top-app-name {
		display: inline;
	}
}