/* BASE */
body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* COMPONENTES DO PRIMEFACES */

.ui-growl {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	z-index: 9999 !important;
}